In [1]:
import pandas as pd

In [7]:
pd.__version__
# tap for autocompletion in notebook

'1.4.1'

In [8]:
import sys  
sys.path.insert(0, 'C:/Users/D073999/Documents/Priv-Dev/data-engineering-zoomcamp')

In [12]:
import pyarrow.parquet as pq
trips = pq.read_table('yellow_tripdata_2021-01.parquet')
df = trips.to_pandas()

In [ ]:
# convert time text to time stamp
#df.tpep_pickup_datetime = pd.to_datatime(df.tpep_pickup_datetime)

In [17]:
!pip install sqlalchemy

Looking in indexes: https://int.repositories.cloud.sap/artifactory/api/pypi/build-releases-pypi/simple, https://int.repositories.cloud.sap/artifactory/api/pypi/build-milestones-pypi/simple
Collecting sqlalchemy
  Downloading https://int.repositories.cloud.sap/artifactory/api/pypi/build-milestones-pypi/packages/packages/5c/39/b985e3d715228cb380defdcfb92de89f7e3ff36018b66af6b623124b2281/SQLAlchemy-1.4.39-cp39-cp39-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading https://int.repositories.cloud.sap/artifactory/api/pypi/build-milestones-pypi/packages/packages/bb/7b/2ac66aa5f9b7e07d62cd6c2c95d44036b609bda80e8739202e3551ee7bf3/greenlet-1.1.2-cp39-cp39-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.39

WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\d073999\miniconda3\lib\site-packages)
WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\users\d073999\miniconda3\python.exe -m pip install --upgrade pip' command.

In [18]:
# conn to postgres
# use sqlalchemy
from sqlalchemy import create_engine

In [21]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine)) # convert df to  DDL that used to specifiy schema
# for it to work specify which kine of database u are using, here con

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [ ]:
df_iter = pd.read('yellow_tripdata_2020-01.csv', iterator=True, chunksize=1000)
# if data size is too big, we can use iterator and specify chunk size
# break csv file into multiple chunks and put them
df = next(df_iter) # next py function to get next item

In [23]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [25]:
# if u want to insert data chunk by chunk, u first create a table and then enter data chunk by chunk

In [26]:
# 1
# df.head(n=0).to_sql will create empty table

#df.head(n=0).to_sql(name='yellow_taxi_data', con= engine, if_exists='replace') # create table and insert all rows
# if db is already ther wit the same name, drop it and insert this one

0

In [27]:
# 2
# now u can appedn each chunk of data to the empty table
time df.to_sql(name='yellow_taxi_data', con= engine, if_exists='append')

769

In [ ]:
while True:
    df = next(df_iter) # when there is no iterator, throws an erro
    time df.to_sql(name='yellow_taxi_data', con= engine, if_exists='append')

In [ ]:
# SELECT count(1) FROM yellow_taxi_data